{% extends 'base.html' %}

{% block content %}

<h2>Search</h2>

<form action="{% url 'bone-search' %}" method='GET'>
    <input type="text" name="q" value="{{request.GET.q}}" />
    <input type='submit' value='Save' />
</form>

<hr/>

<ul>
{% for bone in object_list %}
    <li>
        <a href='{{ bone.get_absolute_url }}'>{{bone}}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
