{% extends 'base.html' %}
{% block content %}

{% if view.kwargs.id %}
<p> {{parent_obj.get_address}} - <font size="6">  {{parent_obj.name}}</font></p>
<hr />
<h2> Info </h2>
<p> {{parent_obj.more_info}}</p>
<b>Keywords:</b>
{% for tag in tags %}
&nbsp;&nbsp;{{tag}} &nbsp;&nbsp; - &nbsp;&nbsp;
{% endfor %}
<hr />
<h2> Children Bones </h2>
{% else %}
<h1> All Bones</h1>
{% endif %}


{% if view.kwargs.id %}
<a href = "{%url 'bone-create' id=view.kwargs.id %}">Add child bone</a>

{% else %}
<a href = "{%url 'bone-create' id=0 %}">Add child bone</a>
{% endif %}
<ul>
{% for bone in object_list %}
    <li>
        <a href='{{ bone.get_absolute_url }}'>{{bone}}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
