{% extends 'base.html' %}

{% block content %}

<h2>Create new Bone </h2>

<form action="{%url 'bone-create' id=view.kwargs.id %}" method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save' />
</form>


{% endblock %}
